/*-- scss:defaults --*/

$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

$body-color: #1E6A8C !default;
$link-color: #008080 !default;
$visited-link-color: #4DB6AC !default;

