body {
  background-color: #F1F1F2;
  font-family: Georgia, Times, serif;
  color: #333;
}

h1 {
  color: #1E6A8C;
}

h2 {
  color: #1E6A8C;
}

h3 {
  color: #1E6A8C; 
}

a:link {
  color: #FFA500;
}

a:visited {
  color: #FF69B4;
}
